.miss {
	--x: 20%;
	--y: 20%;

	color: hsl(var(--text-color-values) / 0.5);
	position: absolute;
	top: var(--y);
	left: var(--x);
	translate: -50% -50%;
	animation: var(--fadeOutAnimation);
}

.miss--result {
	animation-play-state: paused;
}
